.container {
    @apply overflow-auto
}

.table {
    @apply w-tab-container border-collapse rounded-tab-table overflow-hidden
}

.thead {
    @apply bg-color-tab-thead-bg
}

.th {
    @apply text-tab-th-txt font-tab-th text-color-tab-th-txt py-tab-th-py text-center border-l-tab-th-brd-l
}

.th:first-child {
    @apply border-tab-th-first-brd
}

.tr, .animetr, .animetrr {
    @apply bg-color-tab-tr-bg border-t-tab-tr-brd-t border-color-tab-tr-brd
}

.tr:first-child {
    @apply border-tab-tr-first-brd;
}

.animetr:first-child {
    @apply border-tab-tr-first-brd;
    animation: pulsetr 1.5s;
}

.animetrr:first-child {
    @apply border-tab-tr-first-brd;
    animation: pulsetrr 1.5s;
}

.td {
    @apply py-tab-td-py px-tab-td-px text-tab-td-txt font-tab-td text-color-tab-td-txt border-l-tab-td-brd-l border-color-tab-td-brd
}

.td:first-child {
    @apply border-tab-td-first-brd
}


.td:last-child {
    @apply bg-color-tab-td-last-bg
}

.input {
    @apply w-tab-input text-center
}

.bix {
    @apply flex justify-center text-tab-icon-txt text-color-tab-icon-del-txt bg-color-tab-icon-del-bg
}

@keyframes pulsetr {
    0% {
        opacity: 1;
      }
    25% {
        opacity: .5;
      }
    50% {
        opacity: 1;
      }
    75% {
        opacity: .5;
      }
      100% {
        opacity: 1;
      }
}

@keyframes pulsetrr {
    0% {
        opacity: 1;
      }
    25% {
        opacity: .5;
      }
    50% {
        opacity: 1;
      }
    75% {
        opacity: .5;
      }
      100% {
        opacity: 1;
      } 
}

