@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome disabled blue highlight on link */
a, input, button {
    -webkit-tap-highlight-color: transparent;
  }
  
button:hover:active {
opacity: .4;
}